body {
    background-image: url("../pic/s1.jpeg");
    background-size: cover;
    /* Adjust the image size to cover the entire background */
    background-repeat:repeat;
    /* Prevent the image from repeating */
}

/* Set background image for a specific section (div element with a class of 'hero-section', for example) */
.hero-section {
    background-image: url("path/to/your/image.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}